<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="click.dummer.UartNotify">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application 
        android:label="@string/app_name"
        android:theme="@style/MyCustomTheme"
        android:icon="@drawable/icon">

        <activity
            android:name="click.dummer.UartNotify.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="click.dummer.UartNotify.PreferencesActivity"
            android:parentActivityName="click.dummer.UartNotify.MainActivity"></activity>

        <service android:enabled="true" android:name="click.dummer.UartNotify.UartService" />

        <service android:name="click.dummer.UartNotify.NotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>
